<% content_for :title, title('List of Instances')%>

<% content_for :body do %>
<%= flashes %>

	<h1>List of instances</h1>
	<ul>
	<% @instances.each do |i| %>
		<li><%= i.long_name %><ul>
			<% i.incidents.each do |incid| %>
				<li><%= link_to incid.name, incid %></li>
			<% end %>
		</ul></li>
	<% end %>
	</ul>
<% end %>
