<%
# View which displays an admin's information.  
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title(@admin.email, 'Admins', @instance.short_name)%>

<% content_for :branding, ''%>

<% content_for :body do %>
	<h1>Admin: </h1>
	<p>Email: <%= @admin.email%></p>
	<%= link_to("Edit", { :action => "edit", :id => @admin}) %>
<% end %>