h2 {
	font-size: 21px;
	color: #444;
	margin: 0;
	padding: 0;
}
h2.second-heading {
	padding-top: 20px;
}
.listy {
	padding-left: 10px;
}
.listy.outer {
	padding-bottom: 20px;
}
	.listy.outer li.outer {
		border-width: 0;
	}
		li.outer:hover {
			background: white;
		}
		.listy.outer .listy {
			padding-left: 10px;
			padding-top: 4px;
		}
