#wrap {
	padding-top: 10px;
}
	h2 {
		font-size: 21px;
		color: #444;
		margin: 0;
		padding: 0;
	}
	ul {
		list-style-type: none;
		padding-left: 20px;
		margin: 0;
	}
		li {
			margin: 4px 0 0;
		}
			li a {
				color: #275FE4;
			}
				li a:hover {
					text-decoration: none;
				}

