#subheader {

}
	#subheader .pagewidth {
		padding: 20px 40px 20px;
		width: 864px;
		overflow: auto;
	}

#content.pagewidth {
	padding: 0 40px 20px;
	width: 864px;
	color: #333;
	line-height: 1.5em;
}
	
.return_to {
	color: #666;
	padding: 4px;
}
	.return_to:hover {
		color: #fff;
		background: #666;
	}

/* contact */
input, textarea {
	display: block;
}
form {
	padding-bottom: 20px;
}
#contact_form {
}
#new_trial_form {

}
	p.example {
		color: #666;
		font-style: italic;
		font-size: 14px;
		margin: 0;
	}
	label {
		padding-top: 10px;
		display: block;
	}
	form h2 {
		margin: 20px 0 0;
	}
