#incidents {
	list-style-type: none;
	margin: 0;
}
	#incidents li.incident {
		padding: 0 0 15px;
	}
		span.changed {
			color: red;
			font-weight: bold;
			font-size: 16px;
			font-variant: small-caps;
		}
		span.closed {
			font-weight: bold;
			font-size: 16px;
			font-variant: small-caps;
			color: #222;
		}
		h2 {
			padding: 0;
			margin: 0;
			display: inline;
		}
		h2.closed {
		}
			h2 a {
				color: #275FE4;
			}
				h2 a:hover, h2.closed a:hover {
					text-decoration: none;
				}
			h2.closed a {
				color: #777;
				font-weight: normal;
			}
			h2 span.date {
				color: #888;
				font-size: 14px;
				font-weight: normal;
			}
		.incident .new {
			margin-left: 30px;
		}
			.new .summary {
				color: #444;
				font-style: italic;
			}
			.new ul {
				padding: 0;
				margin: 0;
				list-style-type: disc;
			}
			.new a {
				color: #375FE4;
			}
