.subtitle{
	font-size: .7em;
	color: #777;
}
h2 {
	margin:0;
	padding: 0;
	color: #444;
}
h4 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#incident-updates {
	
}
	#incident-updates ul#incidents {
		list-style-type: none;
		padding: 0 0 0 5px;
		margin: 0;
	}
		.changed {
			color: red;
			font-variant: small-caps;
			font-weight: bold;
			font-size: 13px;
		}
		#incidents li div {
			padding-left: 30px;
		}
			#incidents ul {
				list-style-type: disc;
				padding: 0;
			}
	#incident-updates a {
		color: #444;
	}

#latest-users, #latest-incidents{
	float: left;
	padding: 0 30px;
	margin: 0 0 20px 0;
}

#latest-incidents {
	border-right: solid 1px #ccc;
	padding-left: 0;
}
	#latest-users ul, #latest-incidents ul, #latest-updates ul{
		margin: 0;
		padding:0 0 0 3px;
		list-style-type: none;
	}
		#latest-users ul li, #latest-incidents ul li, #latest-updates ul li{
			margin: 0;
			padding: 0;
		}
			#latest-users ul li a, #latest-incidents ul li a, #latest-updates ul li a{
				color: #333;
			}
#latest-updates{
	border-top: 1px solid #ccc;
	padding: 10px 0 0 0;
	clear:both;
}
