#subheader .pagewidth {
	width: 350px;
	margin-top: 10px;
	border: 1px solid #bbb;
	padding: 10px;
	border-width: 1px 1px 0;
	font-size: 12px;
}
	#subheader-text {
		font-size: 12px;

	}
#content .pagewidth {
	width: 350px;
	text-align: left;
	padding: 10px;
	background: #fff;
	margin: 0 auto;
}
	#wrap{
	}
		#wrap h1 {
			text-align: center;
			background: transparent;
		}
		#flashes {
			text-align: center;
		}
		#login-title{
			font-size: 16px;
			font-weight: bold;
		}
		label{
			font-size: 14px;
			padding: 6px 0 1px;
		}
		#email,#password {
			width: 200px;
			border: 1px solid #bbb;
			padding: 4px 3px 3px 3px;
			float: left;
			font-size: 14px;
			font-family: 'Helvetica', Arial;
		}
		#email-section label,#pw-section label {
			float: left;
			width: 100px;
			text-align: right;
			display: block;
			padding-right: 10px;
			margin-left: -5px;
		}
		form p {
			clear: both;
			padding-top: 5px;
			margin: 0;
		}
			#remember-me {
				
			}
		#remember-section, #login-section {
			text-align: right;
			padding-right: 40px;	
		}
			#login-section input {
				width: 75px;
				padding: .25em .1em;
				color: #000;
				border: 1px solid #bbb;
				background: #eee;
			}
		#account-links{
			list-style-type: none;
			margin: 25px 0 0 0;
			padding: 0;
			text-align: center;
		}
			#account-links li{
				display: inline;
				margin: 0 10px;
			}
				#account-links li a{
					padding: 2px 4px;
					color: #666;
					font-size: 14px;
				}
					#account-links li a:hover{
						color: #000;
					}
