body {
	font-family: 'Helvetica', Arial,'Helvetica Neue',sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-width: 777px;
	background: #eee;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.pagewidth {
	max-width: 944px;
	margin: 0 auto;
}
#instance a {
	color: white;
}
	#instance a:hover {
		text-decoration: none;
	}
#footer a {
	color: #666;
}
	#footer a:hover {
		color: #000;
	}

#header {
	margin: 0;
	background: #333;
	color: white;
	padding: 0 15px;
}
#header .pagewidth {
	padding: 10px 0 0;
}
	#account-status {
		font-size: 14px;
		float: right;
	}
		#account-status a {
			padding: 0 3px;
			color: white;
		}
			#account-status a:hover {
				text-decoration: none;
			}
		#account-status .divider {
			color: #999;
		}
	#header-title {
		font-weight: bold;
		font-size: 14px;
	}
		#header-title a {
			color: #666;
			text-decoration: none;
		}
			#header-title a:hover {
				text-decoration: underline;
			}
	#menu {
		list-style-type: none;
		float: left;
		padding: 0;
		margin: 0;
	}
		#menu li {
			display: inline;
			margin-bottom: -1px;
		}
			#menu a {
				color: white;
				padding: 3px 8px 1px;
				text-decoration: none;
			}
				#menu a:hover {
					background: #ddd;
					color: black;
				}
			#menu .active a {
				color: black;
				font-weight: bold;
				border: 1px solid black;
				border-bottom: 1px solid white;
				background: white;
				padding: 3px 7px 1px;
			}
			#incidents-li:hover a.visible {
				background: #ddd;
				color: black;
				border: 1px solid #333;
				padding: 3px 7px 2px;
			}
				#incidents-menu {
					display: none;
					padding: 0;
					list-style-type: none;
					margin: 0;
					position: absolute;
					background: #ddd;
					margin-left: 10px;
					border: 1px solid #333;
					border-width: 0 1px 1px 1px;
				}
					#incidents-menu li {
						display: block;
					}
					#incidents-menu li.other {

					}
						/* don't want these highlighted when active */
						#incidents-menu li.other a {
							border-width: 0;
							font-weight: normal;
							background-color: transparent;
							color: black;
							display: block;
							padding: 10px 8px;
						}
						#incidents-menu li.current_incident a {
							font-weight: bold;
						}
							#incidents-li li.other a:hover {
								background: #bbb;
							}

#subheader {
	padding: 0 15px;
	/* background: white; */
	border-top: 1px solid black;
	/*border-bottom: 1px solid #bbb;*/
}
#subheader .pagewidth {
	background: white;
	padding: 20px 20px 0;
	max-width: 904px;
	border: 1px solid #bbb;
	border-width: 0 1px;
}
	#subheader_main {

	}
		#breadcrumbs {
			color: #888;
			font-size: 13px;
			padding: 0 0 4px;
		}
			#breadcrumbs a {
				color: #275FE4;
			}
				#breadcrumbs a:hover {
					text-decoration: none;
				}
		#subheader_main h1 {
			float: left;
			margin: 0;
			padding: 0;
			font-size: 28px;
			letter-spacing: -1px;
			color: #666;
		}
			#subheader_main .title-small {
				font-size: 21px;
			}
			#subheader_main h1 a {
				text-decoration: none;
				color: #275FE4;
				font-weight: bold;
			}
				#subheader_main h1 a:hover {
					text-decoration: underline;
				}
		#subheader_main #buttons a {
			float: right;
			color: black;
			margin-top: 6px;
			padding: 6px 10px;
			display: block;
			border: 1px solid #aaa;
			background: #eee;
			text-decoration: none;
			font-weight: bold;
			margin-left: 3px;
			font-size: 13px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
			#subheader_main #buttons a:hover {
				border-color: black;
			}
			#subheader_main #buttons a:active {
				background: white;
			}
	#subheader_text {
		clear: both;
		margin: 0;
		margin: 2px 0 5px;
		color: #444;
		font-size: 14px;
	}
		#subheader_text a {
			color: #275FE4;
		}
	#filters {
		max-width: 944px;
		padding-bottom: 20px;
	}
		#filters form {
			padding-top: 7px;
		}
			#filters input, #filters select {
				background: #fafafa;
				border: 1px solid #aaa;
				color: black;
				margin: 0;
				margin-right: 1%;
				-moz-border-radius: 2px;
			}
				#filters input:focus, #filters select:focus {
					border-color: black;
					background-color: white;
				}
			#filters #search {
				padding: 4px 3px;
				width: 35%;
			}
			#filters select {
				width: 21%;
				padding: 3px;
				margin-left: -3px;
			}
			#filters #filters_submit {
				padding: 3px;
				width: 18%;
				color: black;
				background: #eee;
				border: 1px solid #aaa;
				font-weight: bold;
				margin-right: -10px;
				margin-left: 4px;
			}
				#filters #filters_submit:hover {
					border-color: black;
				}
				#filters #filters_submit:active {
					background: white;
				}

#content {
	padding: 0 15px;
	max-width: 946px;
	margin: 0 auto;
}
	#content .pagewidth {
		background: white;
		color: black;
		border: 1px solid #bbb;
		border-width: 0 1px 1px;
		padding: 0 20px 20px;
		max-width: 904px;
		margin: 0;
	}
		#wrap {
			padding-top: 20px;
			border-top: 1px solid #eee;
		}
		#flashes {
			background: #ddd;
			color: black;
			font-size: 16px;
			padding: 10px 5px;
			margin-bottom: 20px;
		}

#footer{
	color: #666;
	font-size: 13px;
	text-align: center;
	background: #eee;
	height: 13px;
	padding: 10px 0;
}


.tiny{
	font-size: 14px;
	color: #999;
}
	.tiny a{
		color: #777;
	}
.under {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	padding-left: 20px;
}
	.under a {
		color: #666;
	}

.flat-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	.flat-list li{
		display: inline;
		margin: 0;
		padding: 0;
	}

.preferred{
	font-size: 13px;
	color: #fff;
	background: #ccc;
	margin: 0 5px;
	padding: 1px;
}

.listy{
	list-style-type: none;
	margin: 0;
	padding: 0 0 15px 0;
}
	.listy li{
		margin: 0;
		padding: 5px 0 5px 3px;
		border-bottom: 1px solid #ccc;
		color: #777;
		font-size: 14px;
	}
		.listy li:hover{
			background: #f0f0f0;
		}
		.listy li a{
			color: #777;
		}
			.listy li a.title{
				color: #000;
				font-size: 16px;
			}


/* ERROR MESSAGSE */
.fieldWithErrors{
	display: inline;
}
.errorExplanation{
	border: 1px solid #900;
	background: #fee;
	padding: 0;
	width: 500px;
	margin: 10px;
}
	.errorExplanation h2{
		font-size: 16px;
		color: #fff;
		background: #900;
		margin: 0;
		padding: 3px;
	}
	.errorExplanation p{
		margin: 5px;
	}
	.errorExplanation ul{
		margin: 5px;
	}

.centered{text-align: center;}
.centered a{color: #000;}

optgroup {
	font-weight: bold;
	font-style: normal;
}
option {
	font-weight: normal;
}
