#wrap{
	padding-top: 0px;
}

/* replace with more general CSS in sitewide.css */
/*.delete-tag-button{
	background: #600;
}
	.delete-tag-button:hover{
		background: #900;
	}*/

#groups-tagged h2, #updates-tagged h2{
	font-size: 18px;
	color: #777;
	margin-bottom: 5px;
}
