#incident-closed {
	background: #aa0000;
	color: white;
	padding: .5em 1em;
}

#incident-description {
	color: #777;
	font-size: 16px;
}

#new-updates {
	margin: -10px 0 10px;
	text-align: center;
}
	#new-updates span {
		padding: 5px; background: #ffe600;
	}
		#new-updates  a {
			color: #000;
			font-weight: bold;
		}


/* updates/index */
#alerts-checkboxes {
	text-align: right;
	padding-top: 6px;
	font-size: 14px;
	color: #444;
}
	#alerts-checkboxes a {
		color: #275FE4;
	}
		#alerts-checkboxes a:hover {
			text-decoration: none;
		}
	#alerts-form {
		background: #eee;
		padding: 5px 0;
	}

#updates-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
	#updates-list > li{
		padding: 0 0 30px 0;
		margin: 0 0 20px 0;
		position: relative;
		clear: both;
	}
		.update-meta{
			color: #666;
			width: 17%;
			padding-right: 1.5%;
			border-right: 1px solid #ddd;
			padding-bottom: 5px;
			position: absolute;
			left: 0;
			text-align: right;
			font-size: 16px;
		}
			.update-time {
				padding-top: 7px;
				font-size: 13px;
			}
			.update-author {
				font-variant: small-caps
			}
			.update-meta a {
				color: #444;
				font-size: 16px;
				padding-bottom: 6px;
				text-decoration: none;
			}
			.update-edited {
				font-size: 13px;
				color: #444;
			}
		.update-main {
			margin-left: 20%;
			margin-right: 20%;
			width: 60%;
		}
			#updates-list li a.update-title {
				color: #275FE4;
				font-weight: bold;
				font-size: 16px;
				text-decoration: none;
			}
				#updates-list a.update-title:hover, .update-meta a:hover {
					text-decoration: underline;
				}
			.update-text {
				margin: 6px 0 9px;
				color: #111;
			}
				.update-text p {
					margin: 0;
				}
				.update-more {
					color: #444;
				}
					.update-more:hover {
						text-decoration: none;
					}
			.update-attach {
				font-size: 13px;
				color: #444;
			}
			    .update-attach img{ float: left; }
				.update-attach h5 {
					margin: 0;
					padding: 0;
					font-size: 13px;
					font-weight: normal;
					float: left;
					padding-right: 4px;
					padding-bottom: 2px;
				}
				.update-attach ul {
					display: inline;
					margin: 0;
					padding: 0;
					float: left;
				}
					.update-attach li {
						display: inline;
					}
						.update-attach a {
							color: #444;
						}
							.update-attach a:hover {
								text-decoration: none;
							}
			.comments {
				clear: both;
				margin-top: 5px;
				width: 390px;
			}
			    .show-older{
			    }
    			    .show-older a{
    			        color: #506188;
    			        font-size: 12px;
    			        font-weight: bold;
    			        text-decoration: none;
    			    }
				.comment {
					background: #efeff0;
					margin-top: 3px;
					padding: 3px;
					border: 1px solid #dfdfdf;
					border-width: 0 1px 1px 0;
					color: #444;
					font-size: 12px;
					overflow: auto;
				}
					.comment-author a {
						font-weight: bold;
						color: #444;
						text-decoration: none;
					}
						.comment-author a:hover {
							text-decoration: underline;
						}
					.comment-body p {
						margin: 0; display: inline;
					}
					.comment-date {
						font-variant: small-caps;
						font-size: 12px;
						font-weight: bold;
						color: #444;
						float:right;
						padding: 2px 0 0 0;
					}
					.comment-destroy {
					    color: #000;
					}
				.new_comment {
					padding: 4px 0;
				}
					.new_comment input {
						border: 1px solid #aaa;
						-moz-border-radius: 2px;
						-webkit-border-radius: 2px;
						border-radius: 2px;
					}
					.comment-textfield {
						width: 385px;
						padding: 3px 2px;
					}
						.comment-textfield.blank{
							color: #999;
						}
						.comment-textfield:focus {
							border-color: #222;
							outline: 0;
						}
					.comment-submit-wrapper {
						float: right;
						height: 0px;
					}
						.comment-submit {
							background: #eee;
							border-color: #777;
							width: 106px;
							padding: 3px 0;
							margin: 3px -1px 0 0;
						}
							.comment-submit.hide {
								display: none;
							}
							.comment-submit:hover {
								border-color: #222;
							}
		.update-extra {
			width: 17%;
			position: absolute;
			right: 0;
		}
			.relevant-groups, .tags {
				font-size: 12px;
				color: #444;
				margin: 3px 0 0 0;
			}
			.update-extra h5 {
				padding: 0;
				margin: 0;
				font-size: 12px;
				float: left;
				clear: both;
			}
				.relevant-groups ul, .tags ul {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}
					.relevant-groups ul li, .tags ul li {
						display: inline;
						margin: 0 0 0 4px;
						float: left;
					}
						.relevant-groups ul li a, .tags ul li a{
							color: #275FE4;
						}
							.relevant-groups ul li a:hover, .tags ul li a:hover {
								text-decoration: none;
							}
/* #show */
#update {
	width: 60%;
	float: left;
	margin-top: -12px;
}
	#update h3, #extra h3 {
		padding: 12px 0 6px;
		margin: 0;
		font-size: 16px;
		color: #666;
		clear: both;
	}
	#update p {
		padding: 0;
		margin: 0;
	}
	#update .comments{
	    margin: 5px 0 10px 0;
	}
#extra {
	width: 35%;
	float: right;
	font-size: 14px;
	margin-top: -12px;
}
	#extra ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
		#extra .tag {
			padding: 0 2px 4px 0;
			float: left;
		}
			#extra .tag a {
				color: #275FE4;
				padding: 1px 2px;
			}
				#extra a:hover {
					text-decoration: none;
				}
		#files li {
			float: left;
			padding: 0 3px 3px 0;
		}
			#files img {
				border: 1px solid #aaa;
				display: block;
			}


/* new/edit update page */
.hide {
	display: none;
}
#update-form {
	width: 668px;
	margin-top: -25px;
}
	#errorExplanation {
		float: left;
	}
	#update-form p {
		width: 668px;
		clear: both;
		padding-top: 15px;
		margin: 0;
	}
	p#submit_box {
		width: 668px;
		padding: 0;
		text-align: right;
	}
		#submit_box input {
			margin-top: 4px;
			border: 1px solid #aaa;
			background: #eee;
			color: black;
			font-weight: bold;
			padding: 4px 10px;
			font-size: 18px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
			#submit_box input:active {
				background: white;
			}
			#submit_box input:hover {
				border-color: black;
			}
		#file_attach {
			padding-left: 72px;
			width: 596px;
			padding-bottom: 10px;
		}
			#file_attach label, #file_existing label {
				font-weight: bold;
				color: #555;
				width: 120px;
				float: left;
				padding-top: 10px;
			}
			#multi_wrap {
				width: 350px;
				float: left;
				margin-top: -4px;
				padding-top: 10px;
				padding-bottom: 20px;
			}
		#file_existing {
			margin-left: 72px;
			clear: both;
		}
			#file_existing ul {
				width: 350px;
				list-style-type: none;
				padding: 0;
				margin-top: 10px;
				float: left;
			}
				#file_existing li {
					margin-left: -12px;
				}
		#update_title {
			width: 588px;
			border: 1px solid #ccc;
			padding: 6px 3px;
			font-size: 16px;
			float: right;
		}

		#update_text {
			width: 588px;
			border: 1px solid #ccc;
			float: right;
			padding: 3px 3px;
			margin-top: 0px;
		}
			#update_title:focus, #update_text:focus {
				border-color: #aaa;
			}
		.new_primary {
			background: #dddddb;
			border: 1px solid #ccc;
			border-width: 1px 0 1px 1px;
			clear: left;
			float: left;
			color: #555;
			font-weight: bold;
			width: 31px;
			padding: 5px 20px;
		}
		#newupdate_meta {
			clear: both;
			background: #eaeaea;
			border: 1px solid #ccc;
			padding: 20px 20px 10px;
			margin-left: 72px;
			width: 554px;
		}
			#newupdate_meta p {
				margin: 0;
				padding: 0 0 10px;
				width: 556px;
			}
				.toplevel {
					font-weight: bold;
					color: #555;
					padding-right: 10px;
				}
				.sublabel {
					font-variant: small-caps;
					color: #666;
					font-size: 14px;
					font-weight: bold;
					line-height: 14px;
				}
					.sublabel a {
						color: #666;
						text-decoration: none;
						background: #ccc;
						padding: 0 7px;
						-moz-border-radius: 6px;
						-webkit-border-radius: 6px;
						border-radius: 6px;
					}
						.sublabel a:hover {
							background: #888;
							color: white;
						}
					.sublabel a.selected {
						background: #555;
						color: white;
						padding: 0 7px;
						-moz-border-radius: 6px;
						-webkit-border-radius: 6px;
						border-radius: 6px;
					}
						.sublabel a.selected:hover {

						}

				


