.chair {
	font-size: .7em;
	color: #999
}

#index {
	list-style-type: none;
	margin: -5px auto 5px;
	padding: 5px;
	text-align: center;
	background: #eee;
	width: 60%;
}
	#index h4 {
		margin: 0 0 2px;
		padding: 0;
		font-size: 14px;
		color: #444;
	}
	#index ul {
		margin: 0;
		padding: 0;
	}
		#index li {
			display: inline;
			margin: 0;
			padding-right: 1px;
			color: #999;
			font-size: 13px;
		}
			#index li a {
				color: #444;
				font-weight: bold;
				padding: 0 1px;
				height: 18px;
				width: 14px;
				display: inline-block;
				line-height: 18px;
				background: #ddd;
				border: 1px solid #aaa;
				font-size: 15px;
				text-decoration: none;
				margin: 0 -1px;
			}
				#index li a:hover {
					background: white;
				}

#contacts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	#contacts > li {
		width: 360px;
		height: 132px;
		float:left;
		margin: 8px -10px 8px 29px;
		padding: 2px 10px;
		border: 1px solid #ccc;
		border-color: #ccc #999 #999 #ccc;
		position: relative;
	}
		#contacts > li:hover {
			border-color: #000;
		}
	#contacts > li.separator {
		width: auto;
		font-weight: bold;
		border: solid;
		border-color: #ccc;
		border-width: 1px;
		color: #666;
		clear:left;
		height: auto;
		background: #eee;
		width: 11px;
		padding: 0 5px;
		margin: 8px -21px 8px 0;
	}

		#contacts li ul.groups {
			list-style-type: none;
			margin:0;
			padding: 0;
		}
			#contacts li ul.groups li {
				margin: 0 1px;
				display: inline;
			}
				#contacts li ul.groups li a {
					color: #666;
					font-size: 13px;
				}
					#contacts li ul.groups li a:hover {
						color: #000;
					}
		#contacts a {
			color: #000;
			font-size: 14px;
			text-decoration: none;
		}
			#contacts a:hover {
				text-decoration: underline;
			}
		#contacts .more a {
			text-decoration: none;
		}

		#contacts .name {
			font-weight: bold;
			padding: 3px 0 1px;
			margin-bottom: 5px;
			overflow: auto;
			border-bottom: 2px dotted #ddd;
		}
			#contacts .name a {
				color: #275FE4;
				float: left;
			}
			#contacts .name a.vcard {
				float: right;
				font-size: 12px;
				padding: 2px;
				color: #666;
				display: inline;
			}

		#contacts .email a {
			color: #00a;
		}
		.person-info {
			clear:both;
		}
			.user-admin {
				background: #ddd;
				position: absolute;
				z-index: 1;
				bottom: 0; left: 0; right: 0;
				height: 31px;
			}
				#contacts .user-admin a.resend {
					font-size: 12px;
					position: absolute;
					display: block;
					bottom: 5px; left: 10px;
					line-height: 16px;
				}
				#contacts .user-admin a.approve {
					font-weight: bold;
					position: absolute;
					display: block;
					bottom: 3px; right: 10px;
					font-size: 12px;
					padding: 3px 10px;
					margin: 0;
					line-height: 16px;
				}
					#contacts .user-admin a.approve:hover {
						text-decoration: none;
						border-color: black;
					}
		.phone, .email {display: block}
		.groups {display:inline}
		.contact-label {
			color: #999;
			font-size: 12px;
		}

/* SHOW */
#contact-info-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	#contact-groups {
		display: inline;
		padding: 0;
	}
		#contact-groups li {
			display: inline;
			padding-left: 4px;
		}

/* EDIT */
#notifications {
    text-align: left;
}
    #notifications th {
        font-weight: bold;
        font-size: 14px;
        font-variant: small-caps;
    }
        .incident-title {
            width: 150px;
            font-size: 14px;
        }
        .feed-email-setting {
            
        }
        .incident-title, .feed-email-setting, .feed-text-setting {
            border-bottom: 1px solid #ddd;
            padding: 2px 25px 2px 0;
            color: #444;
        }

/* NEW_BULK */
div.bulk_user {
	overflow: auto;
	width: 600px;
}
	div.bulk_user div {
		width: 200px;
		float: left;
		border-bottom: 1px solid #eee;
		padding: 10px 0;
	}
	div.bulk_user div.bulk_email {
		width: 190px;
	}
		div.bulk_user label {
			font-size: 14px;
		}
		div.bulk_user input {
			display: block;
			width: 188px;
			border: 1px solid #aaa;
			borde
		}
