<% content_for :title, title('Create a group', 'Groups')%>

<% content_for :breadcrumbs,breadcrumbs(['Groups',group_types_url]) %>
<% content_for :subheader_title, 'Create a group' %>

<% content_for :body do %>	
	<%= error_messages_for :group %>
	<% form_for [@group_type, @group] do |f| -%>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<p><%= f.submit 'Create' %></p>
	<% end %>
<% end %>
