<%
# View which displays a form for creating a group.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Create a group', 'Groups', @instance.short_name)%>

<% content_for :breadcrumbs,breadcrumbs(['Groups',group_types_url]) %>
<% content_for :subheader_title, 'Create a group' %>

<% content_for :body do %>	
	<%= error_messages_for :group %>
	<% form_for [@group_type, @group] do |f| -%>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<p><%= f.submit 'Create' %></p>
	<% end %>
<% end %>
