<div id="wrap">
    <h1>Forgot your password?</h1>
    <p>Just enter your email address here and we'll email you a new password.</p>

    <% form_tag instance_resetpassword_path(@instance), :method => :get do %>
        <%= text_field 'user', 'email' %>
    	<%= submit_tag "Reset Password", :name => nil %>
    <% end %>
</div>

