<% content_for :title, title('Forgotten Password')%>

<% content_for :subheader_title, 'Forgot your password?' %>

<% content_for :body do %>
    <p>Just enter your email address here and we'll email you a new password.</p>

    <% form_tag resetpassword_path, :method => :get do %>
        <%= text_field 'user', 'email' %>
    	<%= submit_tag "Reset Password", :name => nil %>
    <% end %>
<% end %>
