<% content_for :title, title('Create an account')%>

<% content_for :subheader_title, 'Create an account' %>

<% content_for :body do %>
	<%= render :partial => 'form_simple' %>
	<p class="form-instructions">We'll send you an email with instructions on what to do next.</p>
<% end %>
