<% content_for :subheader_title, "Downloads" %>

<% content_for :body do %>
	<p>Coming soon. Source for Collabbit may be downloaded from the repository on
	<%= link_to 'GitHub', 'http://github.com/collabbit/collabbit' %>.</p>
<% end %>
