<h2>Collabbit is a web application that you coordinate during disasters. It's built to be simple and easy to use.</h2>

<p>Collabbit is built around two core features: updates and contacts. Updates let people and groups communicate and keep a record of what’s happened. Contacts let you get in touch with the people you need to be talking to.</p>

<p>Updates let people and groups communicate news and information. An update could be a sentence, a document, or a series of pictures. They're as accessible as we can make them: you can receive new relevant update alerts by text message, by e-mail, and in your RSS reader.</p>

<p>Need to make a phone call? Send an e-mail? That’s what Contacts are for. Find people based on their profiles and get in touch with the included contact information.</p>

<h2>Collabbit is in a closed beta.</h2>
<p>To get more information or request a trial, please email <%=mail_to 'support@collabbit.org'%>.</p>