<h1>Sturdy, supported, reliable</h1>
<h2>web-based emergency communications organization</h2>

<div id="why-us">
	<h3>Collabbit is a fully-featured EOC for coordinating inter-group communication in times of crisis.</h3>
	<ul>
		<li>Customizable for your exact needs</li>
		<li>Hosted or downloadable</li>
		<li>Simple, flexible, and intuitive</li>
	</ul>
</div>

<div id="features">
</div>
