<h2>Terms of Use</h2>

<p>
	The following terms and conditions govern all use of the WordPress.com website and all content, services and products available at or through the website, including, but not limited to, the WordPress.com VIP hosting service (“VIP Service”), (taken together, the Website). The Website is owned and operated by Automattic, Inc. (“Automattic”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Automattic’s Privacy Policy) and procedures that may be published from time to time on this Site by Automattic (collectively, the “Agreement”).
</p>

<p>
	Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Automattic, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
</p>

<ol>
	<li>
		<h3>Your WordPress.com Account and Site</h3>
		If you create a blog on the Website, you are responsible for maintaining the security of your account and blog, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the blog. You must not describe or assign keywords to your blog in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Automattic may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause Automattic liability. You must immediately notify Automattic of any unauthorized uses of your blog, your account or any other breaches of security. Automattic will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
	</li>
	<li>
		<h3>Responsibility of Contributors</h3>
		If you operate a blog, comment on a blog, post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:
		<ul>
			<li>
				the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;
			</li>
			<li>
				if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;
			</li>
			<li>
				you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;
			</li>
			<li>
				the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;
			</li>
			<li>
				the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);
			</li>
			<li>
				the Content is not pornographic, libelous or defamatory (more info on what that means), does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;
			</li>
			<li>
				your blog is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;
			</li>
			<li>
				your blog is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your blog’s URL or name is not the name of a person other than yourself or company other than your own; and
			</li>
			<li>
				you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Automattic or otherwise.
			</li>
		</ul>
	</li>
</ol>

(text is taken from the wordpress.com terms of service as filler until we find our own.)
