<%
# View which displays a form for signing up for a trial.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Sign up for an account')%>

<% content_for :subheader_title, 'Sign up for an account' %>

<% content_for :subheader_text, 'Your account will be free of charge. We will soon be introducing accounts with monthly pricing and additional features.' %>

<% content_for :body do %>

	<% form_tag 'new_trial' do %>
	
	    <div>
	        <h2>What is your email address?</h2>
	        <p>You will be the administrator of this Collabbit. We will email you once your account is set up.</p>
	        <%= text_field_tag :email %>
	    </div>
		
		<div>
		    <h2>What organization or group is this for?</h2>
		    <p class="example">Examples: NYC Volunteer Organizations or Utah Police Departments</p>
		    <%= text_field_tag :long_name %>
		</div>
		
		<div>
		    <h2>How do you want to access your Collabbit?</h2>
		    <p class="example">Example: an Example Volunteer Corp might choose <tt>evc</tt> to have their Collabbit be located at <tt>http://<strong>evc</strong>.collabbit.org</tt>.</p>
		    http://<%= text_field_tag :short_name %>.collabbit.org
	    </div>

		<div>
		    Once you sign up, we will activate your 
		    <%= submit_tag 'Sign up' %>
		</div>
	<% end %>
<% end %>