<% content_for :title, title('Tags') %>

<% content_for :subheader_title, 'Tags' %>

<% content_for :body do%>
	<ul id="tags">
	<% @tags.each do |t| %>
		<li><%=link_to t.name, t, :class=>'title' %>
		&ndash; <%=t.updates.size%> updates
		<% if can?(:delete => t) %>
		<span class="delete-tag">[<%=link_to 'X', t, :method => :delete, :confirm => 'Really delete tag?'%>]</span></li>
		<% end %>
	<% end %>
	</ul>
	<%= will_paginate @tags %>
<% end %>
