<% content_for :title, title(@tag.name, 'Tags') %>

<% content_for :breadcrumbs,breadcrumbs(['Tags',tags_url]) %>
<% content_for :subheader_title, @tag.name %>

<% content_for :body do %>
	<h2>Tagged Updates</h2>
		<ul class="listy">
			<% @tag.updates.each do |u|%>
				<li>
					<%=easy_link_to u.title, u, :class => 'title'%>
					by <%=link_to_issuer u.issuer%> from <%=easy_link_to u.incident.name, u.incident %> on <%=mdy u.created_at%>.
				</li>
			<% end %>
			<% if @tag.updates.empty? %>
				<li>No tagged updates</li>
			<% end %>
		</ul>
<% end %>
