<%
#<<FIX: why do I exist?
%>

<% content_for :title, title('Roles')%>

<% content_for :body do%>
<%= flashes %>

	<h1>List of roles for <%=@instance.long_name%></h1>
	<ul>
	<% @roles.each do |r| %>
		<li><%= link_to r.name, r %></li>
	<% end %>
	</ul>
<% end %>
