<%
# View which displays a single role's information.  
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title(@role.name, 'Roles', @instance.short_name)%>

<% content_for :body do %>
<%= flashes %>

	<h1>Role:</h1>
	<p>Name: <%= @role.name%></p>
<% end %>
