<% content_for :title, title('Edit group type', @group_type.name, 'Group Types') %>

<% content_for :breadcrumbs,
	breadcrumbs(['Group Types',group_types_url],
				[@group_type.name,group_type_url(@group_type)]) %>
<% content_for :subheader_title, 'Edit group type' %>

<% content_for :body do %>
	<%= error_messages_for :group_type %>
	<% form_for @group_type do |f| -%>
		<p><%= label_tag 'name' %><br/>
		<%= f.text_field :name %></p>
		
		<p><%= submit_tag 'Save' %></p>
	<% end -%>
<% end %>
